It is an anonymous function defined without a name and without using a def keyword. It can take only one expression but have multiple arguments.

In [19]:
def add(a,b):
    result=a+b
    return result

In [20]:
add(3,7)

10

In [21]:
add = lambda a,b : a+b ## Syntax lambda arguments: expression
add(3,7)

10

In [22]:
add = lambda a:a+50
add(32)

82

In [23]:
 (lambda a,b:a*b)(5,3)

15

In [24]:
###Allow as many args as you want
addition =lambda *args : sum(args)
print(addition(2,3,4,5))

14

In [25]:
## return one or more function
higher_ord_fun= lambda x, fun: x+ fun(x)
higher_ord_fun(20, lambda x:x*x)

420

In [26]:
(lambda x: (x % 2 and 'odd' or 'even') )(45)

'odd'

In [27]:
cv= lambda string: string in "Welcome to python lambda functions Tutorial"
print(cv('python'))

True

In [28]:
cv= lambda string: string in "Welcome to python lambda functions Tutorial"
print(cv('python'))

True

In [35]:
num = [19, 34, 45, 23, 12, 33]
greater = list(filter(lambda num: num>30, num))
print(greater)

TypeError: 'list' object is not callable

In [39]:
## Map function along with the lambda function
list1 = [2,5,10,6,4,12]
double_the_num = list(map(lambda x: x*2, list1))
print(double_the_num)

TypeError: 'list' object is not callable

In [40]:
list3 =  [2,5,10,6,4,12]
cube = map(lambda x: pow(x,3), list3)
list(cube)

TypeError: 'list' object is not callable

In [41]:
from functools import reduce
list4 = [2,5,10,6,4,12]
sum = reduce((lambda x,y: x+y), list4)
print(sum)

39

In [42]:
from functools import reduce
list4 = [2,5,10,6,4,12]
pro = reduce((lambda x,y: x*y), list4)
print(pro)

28800

In [45]:
def quadratic(a,b,c):
    return lambda x: a*x*2 + b*x +c 
f = quadratic(2,3,5)
f(2) ## value of x

19