In [2]:
import pandas as pd
import numpy as np
from numpy.random import randn

In [3]:
my_data = randn(4,3) #row,colmn
row_labels = ['A','B','C','D']
col_labels = ['X','Y','Z']
#create data frame
df = pd.DataFrame(my_data,row_labels,col_labels)
df

          X         Y         Z
A -1.454974  0.325931  0.060318
B  0.402910  2.791717  0.553811
C -0.737927  0.380783 -0.153822
D -1.769984 -0.362594 -1.755626

In [4]:
# import csv file
df_imported = pd.read_csv('data.csv')
df_imported_big = pd.read_csv('dog_data.csv') #ignore this
df_Big = df_imported_big #and this line now, we are just importing data from outside for future usage!
df_imported

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [5]:
# pull out rows
df_imported.loc[0]

Duration     60.0
Pulse       110.0
Maxpulse    130.0
Calories    409.1
Name: 0, dtype: float64

In [6]:
#pull out mmultiple rows
df_imported.loc[[0,5,151]]

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
5          60    102       127     300.0
151        60    109       129     353.2

In [7]:
#grab first 5 rows
df_imported.head() #gives top rows (5 by default)

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [8]:
df_imported.head(7) #you can do it for top 7 rows

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
5        60    102       127     300.0
6        60    110       136     374.0

In [9]:
#grab last rows
df_imported.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [10]:
#grab certain number of last rows
df_imported.tail(3) #or more

     Duration  Pulse  Maxpulse  Calories
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [11]:
#get info about data frame
df_imported.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [12]:
#get shape of df
df_imported.shape

(169, 4)

In [13]:
#get number of dimensions
df_imported.ndim #row and colmn

2

In [14]:
#colmn data type
df_imported.dtypes

Duration      int64
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [15]:
#statics about data
df_imported.describe()

         Duration       Pulse    Maxpulse     Calories
count  169.000000  169.000000  169.000000   164.000000
mean    63.846154  107.461538  134.047337   375.790244
std     42.299949   14.510259   16.450434   266.379919
min     15.000000   80.000000  100.000000    50.300000
25%     45.000000  100.000000  124.000000   250.925000
50%     60.000000  105.000000  131.000000   318.600000
75%     60.000000  111.000000  141.000000   387.600000
max    300.000000  159.000000  184.000000  1860.400000

In [16]:
#describe a specific colmn
df_imported['Pulse'].describe()

count    169.000000
mean     107.461538
std       14.510259
min       80.000000
25%      100.000000
50%      105.000000
75%      111.000000
max      159.000000
Name: Pulse, dtype: float64

In [17]:
#select specific colmn using brackets
df_imported['Pulse']

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [18]:
#select specific colmn using dot notation
df_imported.Pulse

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [19]:
#select specific colmn using location
df_imported.loc[:,'Pulse']

0      110
1      117
2      103
3      109
4      117
      ...
164    105
165    110
166    115
167    120
168    125
Name: Pulse, Length: 169, dtype: int64

In [20]:
# count distinct values - descending
df_Big["Color"].value_counts() #by default its descending, you can pass (ascending= True) in the fn
#count tells frequency of specific data

Color
BLACK                   371
BROWN                   309
WHITE                   226
WHITE/BLACK             196
BLACK/BROWN             183
                       ...
BROWN/ORANGE              1
BLACK/ORANGE/BRINDLE      1
BROWN/FAWN                1
BLACK/BROWN/GREY          1
BROWN/LIVER               1
Name: count, Length: 72, dtype: int64

In [21]:
#what if some data are missing
df_Big.isnull()

      Breed  Color  DogName  OwnerZip
0     False  False    False     False
1     False  False    False     False
2     False  False    False     False
3     False  False    False     False
4     False  False    False     False
...     ...    ...      ...       ...
2665  False  False    False     False
2666  False  False    False     False
2667  False  False    False     False
2668  False  False    False     False
2669  False  False    False     False

[2670 rows x 4 columns]

In [22]:
df_Big.isnull().value_counts()
#gives count of True/False Pattern

Breed  Color  DogName  OwnerZip
False  False  False    False       2664
       True   False    False          5
       False  True     False          1
Name: count, dtype: int64

In [23]:
#get relative frequency - percentage
df_Big["Color"].value_counts(normalize=True) #Multiply proportion by 100 to get %

Color
BLACK                   0.139212
BROWN                   0.115947
WHITE                   0.084803
WHITE/BLACK             0.073546
BLACK/BROWN             0.068668
                          ...
BROWN/ORANGE            0.000375
BLACK/ORANGE/BRINDLE    0.000375
BROWN/FAWN              0.000375
BLACK/BROWN/GREY        0.000375
BROWN/LIVER             0.000375
Name: proportion, Length: 72, dtype: float64

In [24]:
# get specific item count
df_Big["Color"].value_counts()["RED"]

np.int64(54)

In [25]:
# count unique values - size
df_Big.groupby("Color").size() #alphabetical order

Color
APRICOT              15
BEIGE                 5
BLACK               371
BLACK WITH WHITE     21
BLACK/BRINDLE         5
                   ...
WHITE/ORANGE          5
WHITE/RED            14
WHITE/TAN            50
WHITE/YELLOW          2
YELLOW               51
Length: 72, dtype: int64

In [26]:
#count unique values - count
df_Big.groupby("Color").count()

                  Breed  DogName  OwnerZip
Color
APRICOT              15       15        15
BEIGE                 5        5         5
BLACK               371      371       371
BLACK WITH WHITE     21       21        21
BLACK/BRINDLE         5        5         5
...                 ...      ...       ...
WHITE/ORANGE          5        5         5
WHITE/RED            14       14        14
WHITE/TAN            50       50        50
WHITE/YELLOW          2        2         2
YELLOW               51       51        51

[72 rows x 3 columns]

In [27]:
#it is the original data to be used in some next lines
df_Small = pd.read_csv('dog_data_short.csv')
df_Small

                 Breed        Color  DogName  OwnerZip
0             COCKAPOO        BROWN  CHARLEY     15236
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238
2        BELG MALINOIS      BRINDLE     EICH     15238
3                MIXED  BLACK/BROWN    ARROW     15104
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139

In [28]:
#add column from list
gender = ["Male","Female","Male","Male","Female"]
df_Small["Gender"] = gender
df_Small
#observe new colmn Gender

                 Breed        Color  DogName  OwnerZip  Gender
0             COCKAPOO        BROWN  CHARLEY     15236    Male
1         GER SHEPHERD  BLACK/BROWN   TACODA     15238  Female
2        BELG MALINOIS      BRINDLE     EICH     15238    Male
3                MIXED  BLACK/BROWN    ARROW     15104    Male
4  AM PIT BULL TERRIER  WHITE/BROWN   OAKLEY     15139  Female

In [29]:
#Add default values
df_Small["Alive"] = True
df_Small["Type"] = "Dog"
df_Small["Age"] = 10
df_Small
df_Small

,Breed,Color,DogName,OwnerZip,Gender,Alive,Type,Age
0,COCKAPOO,BROWN,CHARLEY,15236,Male,True,Dog,10
1,GER SHEPHERD,BLACK/BROWN,TACODA,15238,Female,True,Dog,10
2,BELG MALINOIS,BRINDLE,EICH,15238,Male,True,Dog,10
3,MIXED,BLACK/BROWN,ARROW,15104,Male,True,Dog,10
4,AM PIT BULL TERRIER,WHITE/BROWN,OAKLEY,15139,Female,True,Dog,10

In [30]:
#add NaN value
df_Small["Weight"] = np.nan
df_Small

,Breed,Color,DogName,OwnerZip,Gender,Alive,Type,Age,Weight
0,COCKAPOO,BROWN,CHARLEY,15236,Male,True,Dog,10,NaN
1,GER SHEPHERD,BLACK/BROWN,TACODA,15238,Female,True,Dog,10,NaN
2,BELG MALINOIS,BRINDLE,EICH,15238,Male,True,Dog,10,NaN
3,MIXED,BLACK/BROWN,ARROW,15104,Male,True,Dog,10,NaN
4,AM PIT BULL TERRIER,WHITE/BROWN,OAKLEY,15139,Female,True,Dog,10,NaN