In [ ]:
#dictionaries 
a ={1:"first name",2:"second name",3:"third name"}

In [1]:
a=10//2
print(a)

5

In [ ]:

print("My first name")

In [2]:
a=10/2
print(a)

5.0

In [3]:
list1= [1,2,"string"]
print(list1)

[1, 2, 'string']

In [4]:
for i in range(0,11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [7]:
for i in range(11,0,-1):
    print(i)

11
10
9
8
7
6
5
4
3
2
1

In [2]:
#dictionaries
student= {'name': 'john','age':22,'courses':['Math','Compsci']}
print(student['name'])

john

In [1]:
#dictionaries
student= {'name': 'john','age':22,'courses':['Math','Compsci']}
print(student['name'])

john

In [2]:
Python opertator 
1. Equality operator
  is,is not, ==,!=
2. Comparsion operator
<,>,<=,>=
3. Arithmetic operator
+,-,/(float),//,*
4. Logical operator
 Not,and,or

SyntaxError: invalid syntax (2023507962.py, line 1)

In [4]:
a=True
b=False
a or b

True

In [5]:
a=True
b=False
a & b

False

In [6]:
a=True
b=False
a !=b

True

In [ ]:
age =int(input("Enter the age"))
if (age<18 or age>=35):
    print("Your memory is not that fast")
else: print("Your memory is not that fast")

In [11]:
a="Marvel"
b="Disney"
a==b

False

In [15]:
age=int(input("Enter the age "))
if age==18:
    print("You are in the teenage")

Enter the age 18
You are in the teenage

In [12]:
a="Marvel"
b="Disney"
print(id(a))
print(id(b))

1570455268080
1570455270192

In [13]:
a is b

False

Python control flow
if/else statements

In [27]:
age_1=int(input("Enter the age "))
age_2=int(input("Enter the age "))
if(age_1>age_2):
    print(age_1)
elif(age_1==age_2):
    print("Values are equal")
else:
    print(age_2)

Enter the age 3
Enter the age 3
Values are equal

In [23]:
val=input("Enter the number")
value_float=float(val)
print(type(value_float))
if(value_float%2==0):
    print("The number is even")
else:
    print("The number is odd")

Enter the number5
<class 'float'>
The number is odd

In [24]:
10%2!=0

False

In [ ]:
val=input("Enter the age")
value_float=float(val)
print(type(value_float))
if(val<20):
    print("Teen")
elif(20<val<40):
    print("Young")
else(val>40):
    print("senior")

In [3]:
val=input("Enter the age")
value_float=float(val)
print(type(value_float))
if(val<20):
    print("Teen")
elif(20<val<40):
    print("Young")
else:
    print("senior")

Enter the age23
<class 'float'>

TypeError: '<' not supported between instances of 'str' and 'int'