In [2]:
a = 10
if a == 20:
    print("HEllo")
else:
    print("su-mit")

su-mit

In [8]:
num = int(input("num:"))
if (num % 2 ==0):
    print("Even number")
else:
    print("odd number")

num:5
odd number

### shorthand notation

In [10]:
print("even")if num%2==0 else print("odd")

odd

In [14]:
a = int(input("marks daal do apne:"))
if(91<a<100):
    print("A+")
elif(81<a<90):
    print("A")
elif(71<a<80):
    print("B")
else:
    print("tum tu fail h0")

marks daal do apne:82
A

In [15]:
81<a<90

True

In [17]:
a = int(input(""))
b = int(input(""))
c = int(input(""))
# max(a,b,c)
print(max(a,b,c))

2
3
4
4

In [3]:
n = 1
while n< 11:
    print(n)
    n = n + 1
print("ByE")

1
2
3
4
5
6
7
8
9
10
ByE

In [1]:
for i in range(2,11,2):
      print(i)

2
4
6
8
10

In [2]:
for i in range(0,5):
    for j in range(0,i+1):
        print('* ',end="")
    print('\r')

*
* *
* * *
* * * *
* * * * *

In [3]:
for i in range(1,6):
    for j in range(i):
        print('* ',end="")
    print()

*
* *
* * *
* * * *
* * * * *

In [4]:
for i in range(0,5):
    for j in range(i+1,6):
        print('* ',end="")
    print('\r')

* * * * *
* * * *
* * *
* *
*

In [6]:
l = [2,3, True,17.5]
for i in l:
    print(i)

2
3
True
17.5

In [8]:
for i in 'Python':
    print(i)

P
y
t
h
o
n